<div class="row">
    <div class="col-md-2"></div>
    <div id="content" class="col-sm-12 col-md-8">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 id="title" class="text-center">All The News</h2></div>
            <div class="panel-body">
                <img id="image" src="/images/GNNLogo.png" alt="title" class="img-thumbnail center-block hidden">
                <p id="summary">We're sorry, but we were unable to find the page you were looking for.</p>
                <p><button id="getArticles" class="btn btnColor">Read Articles</button></p>
            </div>
            <div class="panel-footer">
            	<div id="navigation">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
